body {
    margin: 0;
    padding: 0;
}

#bg-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 635px;
}

#countdown {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}